//Colors
$color_black:               #000000;
$color_blackLight:          #3D3D3D;
$color_grey:                #4A4A4A;
$color_white:               #ffffff;
$color_purple:              #670EE7;
$color_purpleLight:         #A591CE;
$color_purpleTransparent:   #F5F1FD;

//Fonts

$font_light:           "MullerLight";
$font_main:            "MullerRegular";
$font_medium:          "MullerMedium";
$font_bold:            "MullerBold";
$font_extraBold:       "MullerExtraBold";
$font_heavy:           "MullerHeavy";
$font_rub:             "ALSRubl";
$font_museo500:         "MuseoSansCyrl_500";
$font_museo700:         "MuseoSansCyrl_700";
$font_museo900:         "MuseoSansCyrl_900";

//Animation
$transition:          .2s ease-in-out;

