.sub-menu__choice
	ul.sub-menu__choice-list.choice-list
		li
			a(href='javascript:void(0);')
				span.choice-list__title футболки поло
				span.choice-list__amount 8
		+choice-others__item('пледы', '32')
		+choice-others__item('толстовки', '9')
		+choice-others__item('жилеты', '6')
		+choice-others__item('сумки', '44')
		+choice-others__item('куртки', '5')
		+choice-others__item('кепки', '89')
