.sub-menu__choice {

  .sub-menu__choice-list {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 17px 30px 18px 30px;
    margin-bottom: 15px;

    .choice-list__title {
      font-family: $font_bold;
    }

    .choice-list__amount {
      font-family: $font_main;
      margin-left: 3px;
    }

    li {
      display: block;
      margin-bottom: 22px;
      font-size: 9px;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      a {
        color: $color_grey;
      }


      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}