.sub-menu__choice
	.sub-menu__choice-main.choice-main
		span.choice-main__title Футболки
		span.choice-main__amount 12
	ul.sub-menu__choice-others.choice-others
		li
			a(href='javascript:void(0);')
				span.choice-others__title футболки поло
				span.choice-others__amount 8
		+choice-others__item('пледы', '32')
		+choice-others__item('толстовки', '9')
		+choice-others__item('жилеты', '6')
		+choice-others__item('сумки', '44')
		+choice-others__item('куртки', '5')
		+choice-others__item('кепки', '89')
