#catalog-filter
	.catalog-filter--content
		a.catalog-filter__close-link(@click="expandAll" href='javascript:void(0);')
			span Свернуть всё
		.catalog-filter__multiline
			Accordion(title="цена" @expand="expandAll")
				- var catalogChoice = 'rate'
				include ../../components/catalog-filter/__item-choice/catalog-filter__item-choice
			Accordion(title="тип продукции" @expand="expandAll")
				- var catalogChoice = 'type'
				include ../../components/catalog-filter/__item-choice/catalog-filter__item-choice
			Accordion(title="бренд" @expand="expandAll")
				- var catalogChoice = 'brand'
				include ../../components/catalog-filter/__item-choice/catalog-filter__item-choice
			Accordion(title="цвет" @expand="expandAll")
				- var catalogChoice = 'color'
				include ../../components/catalog-filter/__item-choice/catalog-filter__item-choice
			Accordion(title="материал" @expand="expandAll")
				- var catalogChoice = 'material'
				include ../../components/catalog-filter/__item-choice/catalog-filter__item-choice
		.catalog-filter__btns
			button(type="submit" class='btn-purple catalog-filter__show-link')
				span показать товары
			button(type="reset" class='catalog-filter__reset-link') сбросить фильтр

