.main-catalog__header
	include ../../breadcrumbs/breadcrumbs
	.main-catalog__header-title
		h1 Каталог
		.main-catalog__header-choice.header-choice
			span.header-choice__title Футболки
			span.header-choice__amount 12
	.main-catalog__header-section
		include ../../../components/main-catalog/__items-types/main-catalog__items-types