.sub-menu__short-comment {
  font-size: 12px;
  font-family: $font_light;
  line-height: 22px;

  p{
    font-size: 12px;
    font-family: $font_light;
    line-height: 22px;
    margin-bottom: 5px;
  }


}