.main-catalog__sub-menu.sub-menu
	.sub-menu__choice-mobile
		.sub-menu__choice-mobile-title Фильтры
		.sub-menu__choice-mobile-close.filter-close
			img(src='/img/ico_close.png' width='26' height='26')
	include ../../sub-menu/__choice/sub-menu__choice
	include ../../catalog-filter/catalog-filter
	.sub-menu__short-comment
		p Описание категории, где рассказано о том, что показывается в данной категории, какие товары, их особенности, еще какие-то вещи, которые могут помочь пользователю, потенциальному покупателю выбрать себе товар по лучшей цене с лучшими характеристиками.