.main-catalog__sub-menu.sub-menu
	include ../../sub-menu/__choice/sub-menu__choice
	include ../../catalog-filter/catalog-filter
	.sub-menu__short-comment
		p Описание категории, где рассказано о том, что показывается в данной категории, какие товары, их особенности, еще какие-то вещи, которые могут помочь пользователю, потенциальному покупателю выбрать себе товар по лучшей цене с лучшими характеристиками.