.main-catalog__item-desc {
  padding: 20px 25px 20px 0;
  background-color: #fff;
  transition: $transition;

  @media(max-width: 425px)  {
    padding: 10px 25px 20px 0;
  }

  .catalog-filter__show-link {
    @media(max-width: 768px)  {
      display:none;
    }

    &.mobile-cart {
      display: none;

      @media(max-width: 768px)  {
        display: flex;

        &:after {
          background-image: url('/img/sprites/sprite.svg#ico_cart');
          background-size: 17px;
        }

      }
    }

  }

  .item-desc {
    position: relative;

    &__article {
      font-size: 8px;
      text-transform: uppercase;
      margin-bottom: 15px;

      @media(max-width: 425px)  {
        margin-bottom: 10px;
      }
    }

    &__option {
      position: absolute;
      top: 50%;
      left: calc(50% - 10px + 26px);
      width: 100%;
      color: #670EE7;
      transform: rotate(90deg);
      font-size: 10px;
      font-family: $font_bold;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      transition: $transition;

      @media(max-width: 425px)  {
        bottom: 25px;
        top: auto;
      }
    }

    &__main-title {
      font-size: 12px;
      font-family: $font_bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 12px;
      line-height: 18px;
      min-height: 36px;

      @media(max-width: 768px)  {
        color: #654A9D;
      }

      @media(max-width: 425px) {
        font-size: 10px;
        line-height: 16px;
        /* or 160% */
        min-height: 64px;
        margin-bottom: 10px;
        letter-spacing: 0.833333px;
        text-transform: uppercase;
      }
    }

    &__content {
      font-family: $font_light;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
      min-height: 56px;

      @media(max-width: 768px)  {
        margin-bottom: 20px;
        min-height: 30px;
      }

      @media(max-width: 425px)  {
        display: none;
      }

      p {
        font-family: $font_light;
        font-size: 12px;
      }
    }

    &__rate {
      font-size: 20px;
      line-height: 24px;
      font-family: $font_medium;
      color: #654A9D;
      margin-bottom: 10px;

      @media(max-width: 425px)  {
        font-size: 14px;
      }

      .item-desc__colors {
        display: none;

        @media(max-width: 425px)  {
          margin-top: 7px;
        }
      }

      @media(max-width: 768px)  {
        display: flex;
        justify-content: space-between;
        color: $color_black;
        align-items: center;

        .item-desc__colors {
          display: flex;
          font-size: 7px;
          font-family: $font_medium;

          .color {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            border-radius: 100%;

            &:last-of-type {
              margin-right: 16px;
            }

            &.red {
              background-color: #D12C2C;
            }

            &.black {
              background-color: #000000;
            }

            &.white {
              background-color: #ffffff;
              border: 1px solid #979797;
            }

            &.orange {
              background: #DE7F1A;
            }
          }
        }
      }

      @media(max-width: 425px)  {
        display: block;
      }

      .currency {
        font-family: $font_rub;
      }
    }

    &__availability {
      margin-bottom: 20px;
      @media(max-width: 768px)  {
        margin-bottom: 30px;
      }

      .item-desc__title {
        min-width: 55px;
      }
    }

    &__title {
      font-size: 10px;
      line-height: 16px;

      @media(max-width: 425px)  {
        font-size: 8px;
        line-height: 8px;
      }
    }

    &__desc {
      font-family: $font_medium;
      font-size: 10px;
      line-height: 16px;

      @media(max-width: 425px)  {
        font-size: 8px;
        line-height: 8px;
      }
    }

    &__features {
      margin-bottom: 20px;

      @media(max-width: 768px)  {
        display: none;
      }

      li {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 7px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .item-desc__title {
        min-width: 57px;
      }

      &-title {
        font-family: $font_medium;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }
  }

  @media(max-width: 425px)  {
    .catalog-filter__show-link {

      &.mobile-cart {
        display: flex;
        position: absolute;
        bottom: -45px;
        left: 0;
        width: calc(100% + 25px);

      }

      span {
        padding: 8px 0px 6px 0px;
      }
      &::before {
        width: 24px;
        height: 24px;
      }

      &::after {
        width: 24px;
        height: 24px;
      }
    }
  }
}