.main-catalog__items
	include ../../../components/main-catalog/__items-sorting/main-catalog__items-sorting
	include ../__items-container/main-catalog__items-container
	include ../__pagination/main-catalog__pagination

