extends layouts/default
include helpers/mixins

block variables
	- const title = "Каталог"

block content
	block test
		include ../blocks/modules/test/test

block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")