.main-catalog__items-types
	.items-types
		.items-types__title виды нанесения:
		ul.items-types__list
			+list-item('вышивка', 'javascript:void(0);')
			+list-item('полноцвет', 'javascript:void(0);')
			+list-item('водынми черниалми', 'javascript:void(0);')
			+list-item('флекс', 'javascript:void(0);')
			+list-item('шелкография', 'javascript:void(0);')