- var catalogItemNumber

case catalogItemNumber
	when '1'
		.item__swiper--wrapper
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide(style='background-image:url(/img/img_catalog-1.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-2.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-3.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-1.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-2.jpg)')
			.swiper-container.gallery-thumbs
				.item-swiper-button-next
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
				.swiper-wrapper
					.swiper-slide(style='background-color: #FFFFFF; border-color:#979797;')
						span.border(style='border-color: #979797;')
					.swiper-slide(style='background-color: #D12C2C;')
						span.border(style='border-color: #D12C2C;')
					.swiper-slide(style='background-color: #000000;')
						span.border(style='border-color: #000000;')
					.swiper-slide(style='background-color: #00CDFF;')
						span.border(style='border-color: #00CDFF;')
					.swiper-slide(style='background-color: #DE7F1A;')
						span.border(style='border-color: #DE7F1A;')
				.item-swiper-button-prev
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
	when '3'
		.item__swiper--wrapper
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide(style='background-image:url(/img/img_catalog-2.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-3.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-1.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-2.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-3.jpg)')
			.swiper-container.gallery-thumbs
				.item-swiper-button-next
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
				.swiper-wrapper
					.swiper-slide(style='background-color: #FFFFFF; border-color:#979797;')
						span.border(style='border-color: #979797;')
					.swiper-slide(style='background-color: #D12C2C;')
						span.border(style='border-color: #D12C2C;')
					.swiper-slide(style='background-color: #000000;')
						span.border(style='border-color: #000000;')
					.swiper-slide(style='background-color: #00CDFF;')
						span.border(style='border-color: #00CDFF;')
					.swiper-slide(style='background-color: #DE7F1A;')
						span.border(style='border-color: #DE7F1A;')
				.item-swiper-button-prev
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
	when '2'
		.item__swiper--wrapper
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide(style='background-image:url(/img/img_catalog-3.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-1.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-2.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-3.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-1.png)')
			.swiper-container.gallery-thumbs
				.item-swiper-button-next
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
				.swiper-wrapper
					.swiper-slide(style='background-color: #FFFFFF; border-color:#979797;')
						span.border(style='border-color: #979797;')
					.swiper-slide(style='background-color: #D12C2C;')
						span.border(style='border-color: #D12C2C;')
					.swiper-slide(style='background-color: #000000;')
						span.border(style='border-color: #000000;')
					.swiper-slide(style='background-color: #00CDFF;')
						span.border(style='border-color: #00CDFF;')
					.swiper-slide(style='background-color: #DE7F1A;')
						span.border(style='border-color: #DE7F1A;')
				.item-swiper-button-prev
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
	when '4'
		.item__swiper--wrapper
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide(style='background-image:url(/img/img_catalog-4.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-5.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-6.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-4.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-5.jpg)')
			.swiper-container.gallery-thumbs
				.item-swiper-button-next
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
				.swiper-wrapper
					.swiper-slide(style='background-color: #FFFFFF; border-color:#979797;')
						span.border(style='border-color: #979797;')
					.swiper-slide(style='background-color: #D12C2C;')
						span.border(style='border-color: #D12C2C;')
					.swiper-slide(style='background-color: #000000;')
						span.border(style='border-color: #000000;')
					.swiper-slide(style='background-color: #00CDFF;')
						span.border(style='border-color: #00CDFF;')
					.swiper-slide(style='background-color: #DE7F1A;')
						span.border(style='border-color: #DE7F1A;')
				.item-swiper-button-prev
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
	when '5'
		.item__swiper--wrapper
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide(style='background-image:url(/img/img_catalog-5.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-6.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-4.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-5.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-6.png)')
			.swiper-container.gallery-thumbs
				.item-swiper-button-next
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
				.swiper-wrapper
					.swiper-slide(style='background-color: #FFFFFF; border-color:#979797;')
						span.border(style='border-color: #979797;')
					.swiper-slide(style='background-color: #D12C2C;')
						span.border(style='border-color: #D12C2C;')
					.swiper-slide(style='background-color: #000000;')
						span.border(style='border-color: #000000;')
					.swiper-slide(style='background-color: #00CDFF;')
						span.border(style='border-color: #00CDFF;')
					.swiper-slide(style='background-color: #DE7F1A;')
						span.border(style='border-color: #DE7F1A;')
				.item-swiper-button-prev
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
	when '6'
		.item__swiper--wrapper
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide(style='background-image:url(/img/img_catalog-6.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-5.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-4.jpg)')
					.swiper-slide(style='background-image:url(/img/img_catalog-6.png)')
					.swiper-slide(style='background-image:url(/img/img_catalog-5.jpg)')
			.swiper-container.gallery-thumbs
				.item-swiper-button-next
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")
				.swiper-wrapper
					.swiper-slide(style='background-color: #FFFFFF; border-color:#979797;')
						span.border(style='border-color: #979797;')
					.swiper-slide(style='background-color: #D12C2C;')
						span.border(style='border-color: #D12C2C;')
					.swiper-slide(style='background-color: #000000;')
						span.border(style='border-color: #000000;')
					.swiper-slide(style='background-color: #00CDFF;')
						span.border(style='border-color: #00CDFF;')
					.swiper-slide(style='background-color: #DE7F1A;')
						span.border(style='border-color: #DE7F1A;')
				.item-swiper-button-prev
					svg
						use(xlink:href="img/sprites/sprite.svg#ico_arrow-up-purple")