.main-catalog__item {
  padding: 0 10px;
  width: calc(100%/3);
  max-height: 530px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: $transition;

  @media(max-width: 768px) {
    width: calc(100%/2);
    max-height: 590px;
    padding: 0 20px;
  }

  @media(max-width: 425px) {
    padding: 0 7px;
  }

  &.active {

    overflow: visible;
    z-index: 2;

    .main-catalog__item-desc {
      background: #FFFFFF;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.0753793);
      border-radius: 2px;
      padding: 20px 16px 20px 58px;
    }

    .item__swiper--wrapper {
      height: 250px;
    }

    .item__swiper--wrapper .gallery-thumbs {
      top: calc(100% + 20px);
      height: 100%;
    }

    .main-catalog__item-desc .item-desc__option {
      left: calc(50% - 10px);
      text-align: center;
    }

  }
}

