.main-catalog__items-sorting
	.items-sorting
		.items-sorting__main
			span.items-sorting__title сортировать по:
			a.items-sorting__main-item.items-sorting__main-item-rate.active.items-sorting__rate(href='javascript:void(0);')
				span.items-sorting__title Цена
				span.items-sorting__rate-item.active.items-sorting__rate-item-higher
				span.items-sorting__rate-item.items-sorting__rate-item-less
			a.items-sorting__main-item(href='javascript:void(0);')
				span.items-sorting__title артикулу
			a.items-sorting__main-item(href='javascript:void(0);')
				span.items-sorting__title наименованию
		.items-sorting__view
			span.items-sorting__title вид:
			a.items-sorting__view-item.active(href='javascript:void(0);')
				img(src="img/sprites/sprite.svg#ico_sorting-1")
			a.items-sorting__view-item(href='javascript:void(0);')
				img(src="img/sprites/sprite.svg#ico_sorting-2")
