.main-catalog__items-sorting {
  @include catalog-main;
  width: 100%;
  margin-bottom: 15px;

  @media(max-width: 768px) {
    padding: 0 20px;
  }

  @media(max-width: 425px) {
    padding: 0 7px;
  }

  .items-sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__main {
      display: flex;
      align-items: center;

      @media(max-width: 425px) {
        flex-wrap: wrap;
      }

      > .items-sorting__title {
        border-bottom: 1px solid transparent;

        @media(max-width: 425px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .items-sorting__rate {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .items-sorting__rate-item {
          height: 18px;
          width: 18px;
          border: 1px solid #CEC9DA;
          box-sizing: border-box;
          border-radius: 2px;
          background-color: #fff;
          margin-left: 10px;
          font-size: 0;
          flex-shrink: 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          &::before {
            content: '';
            display: block;
            position: relative;
            height: 9px;
            width: 6px;
            @include background('/img/sprites/sprite.svg#ico_arrow-down-purple', center, no-repeat, cover);
          }

          &.items-sorting__rate-item-higher {
            &::before {
              transform: rotate(180deg);
            }
          }

          &.active {
            background: #A591CE;
            border-color: #A591CE;

            &::before {
              background-image: url('/img/sprites/sprite.svg#ico_arrow-down-white');
            }
          }

        }
      }

      &-item {
        font-size: 9px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #4A4A4A;
        margin-right: 15px;
        padding: 5px 0;

        .items-sorting__title {
          border-bottom: 1px solid transparent;
          transition: $transition;
          margin-right: 0;


        }

        &.active {
          font-family: $font_medium;

          .items-sorting__title {
            border-bottom: 1px solid #C5B9DF;
          }

        }
      }
    }

    &__title {
      font-size: 9px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-right: 7px;


    }

    &__view {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media(max-width: 768px) {
        display: none;
      }

      &-item {
        margin-left: 10px;
        display: block;
        font-size: 0;
        opacity: 0.3;
        transition: $transition;

        &.active {
          opacity: 1;
        }

        &:first-of-type {
          margin-left: 0;
        }

        img {
          width: 19px;
          height: 18px;
        }

      }
    }
  }

  .main-catalog__items-sorting-mobile {
    display: none;
    @media(max-width: 768px) {
      display: block;
      margin: 20px 0;

      .main-catalog__show-more-link {
        display: flex;
        align-items: center;
        justify-content: center;


        span {
          margin-bottom: -3px;
        }
      }
    }
  }

}

.filter-open {
  &.sticky {
    position: fixed;
    width: calc(100% - 60px);
    margin: 0 30px;
    top: 0;
    left: 0;
    height: 44px;
    z-index: 99999;

    @media(max-width: 425px) {
      width: 100%;
      margin: 0;
    }
  }
}