.main-catalog__items-sorting
	.items-sorting
		.items-sorting__main
			span.items-sorting__title сортировать по:
			a.items-sorting__main-item.items-sorting__main-item-rate(href='javascript:void(0);') Цена
			a.items-sorting__main-item(href='javascript:void(0);') артикулу
			a.items-sorting__main-item(href='javascript:void(0);') наименованию
		.items-sorting__view
			span.items-sorting__title вид:
			#view-sorting
