.breadcrumbs {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 10px;

  @media(max-width: 768px) {
    padding: 0 20px;
  }


  li {
    line-height: 1;

    &::after {
      content: '-';
      margin: 0 2px;
      font-size: 10px;
      color: $color_blackLight;
    }

    &:last-of-type {
      &:after {
        display: none;
      }

      color: $color_black;
      font-family: $font_medium;
    }
  }

  a {
    color: $color_blackLight;
    line-height: 1;
  }

}