.main-catalog__items-container
	- var catalogItemNumber = '1'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '2'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '3'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '4'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '5'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '6'
	include ../../../components/main-catalog/__item/main-catalog__item