.main-catalog__items-container
	- var catalogItemNumber = '1'
	- var catalogItemTitle = '2600 ШР сп Dart Polished голубой Hex.Cyan'
	- var catalogItemDesc = 'Описание товара, включает в себя несколько строк товара, включает в себя несколько строк'
	- var catalogItemRate = '12 000'
	- var catalogItemOption = 'up 20.01.2019'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '2'
	- var catalogItemTitle = 'Ветровка детская Surf Kids 210, ярко-синяя'
	- var catalogItemDesc = 'Водонепроницаемая, вентиляционные отверстия, безопасный шнур по низу изделия. Капюшон убирается в воротник.'
	- var catalogItemRate = '5 000'
	- var catalogItemOption = 'sale'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '3'
	- var catalogItemTitle = 'Ветровка Unit Kivach, оранжевая'
	- var catalogItemDesc = 'Капюшон убирается в воротник. Два наружных кармана на молнии.'
	- var catalogItemRate = '1 000'
	- var catalogItemOption = ''
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '4'
	- var catalogItemTitle = 'Футболка женская Regent Women'
	- var catalogItemDesc = 'Модель без боковых швов, стиль классический, унисекс.'
	- var catalogItemRate = '2 000'
	- var catalogItemOption = 'up 20.01.2019'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '5'
	- var catalogItemTitle = 'Футболка T-bolka 140, синяя (сапфировая)'
	- var catalogItemDesc = 'Описание товара, включает в себя несколько строк товара, включает в себя несколько строк'
	- var catalogItemRate = '1 200'
	- var catalogItemOption = 'sale'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '6'
	- var catalogItemTitle = 'Футболка женская Regent Women'
	- var catalogItemDesc = 'Модель без боковых швов, стиль классический, унисекс.'
	- var catalogItemRate = '1 000'
	- var catalogItemOption = 'up 20.01.2019'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '1'
	- var catalogItemTitle = '2600 ШР сп Dart Polished голубой Hex.Cyan'
	- var catalogItemDesc = 'Описание товара, включает в себя несколько строк товара, включает в себя несколько строк'
	- var catalogItemRate = '12 000'
	- var catalogItemOption = 'up 20.01.2019'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '2'
	- var catalogItemTitle = 'Ветровка детская Surf Kids 210, ярко-синяя'
	- var catalogItemDesc = 'Водонепроницаемая, вентиляционные отверстия, безопасный шнур по низу изделия. Капюшон убирается в воротник.'
	- var catalogItemRate = '5 000'
	- var catalogItemOption = 'sale'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '3'
	- var catalogItemTitle = 'Ветровка Unit Kivach, оранжевая'
	- var catalogItemDesc = 'Капюшон убирается в воротник. Два наружных кармана на молнии.'
	- var catalogItemRate = '1 000'
	- var catalogItemOption = ''
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '4'
	- var catalogItemTitle = 'Футболка женская Regent Women'
	- var catalogItemDesc = 'Модель без боковых швов, стиль классический, унисекс.'
	- var catalogItemRate = '2 000'
	- var catalogItemOption = 'up 20.01.2019'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '5'
	- var catalogItemTitle = 'Футболка T-bolka 140, синяя (сапфировая)'
	- var catalogItemDesc = 'Описание товара, включает в себя несколько строк товара, включает в себя несколько строк'
	- var catalogItemRate = '1 200'
	- var catalogItemOption = 'sale'
	include ../../../components/main-catalog/__item/main-catalog__item
	- var catalogItemNumber = '6'
	- var catalogItemTitle = 'Футболка женская Regent Women'
	- var catalogItemDesc = 'Модель без боковых швов, стиль классический, унисекс.'
	- var catalogItemRate = '1 000'
	- var catalogItemOption = 'up 20.01.2019'
	include ../../../components/main-catalog/__item/main-catalog__item